@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.main { margin-top: 10%;
    background-color: aquamarine;
    text-align: center;
    
}
.main input {
  
    width: 70%;
    padding: 20px;
    border-radius: 20px;
}